/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400);

/*
	BODY
*/

body {
	
	background-color: lightgrey;	
	background-image: url('/img/images.jpg');
	
	font-family:  'Open Sans', sans-serif;
}
/*
	EDIT
*/
#edit-wrapper {
	
	width:100%;
	height:50px;
	
	background-color:white;
}

#edit {
	
	width: 960px;
	height: 50px;
	
	margin-left: auto;
	margin-right: auto;
	
	background-color: grey;
}


/*
	HEADER
*/
#header {

	background-color: white;
	background:  url('/img/logos/logo_160x80.png') no-repeat #FFF;
	background-position:  10px 10px; 
	
	width: 960px;
	height: 100px;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 30px;
	
	background-image: 
}

/* MENU */
#header li {

	display: inline-block;
	color: grey;
	
	position: relative; 

	height: 10px;
	
	padding: 5px;
	padding-bottom: 10px;
	
	margin-right: 3px;
}

#header li:hover {
	
	cursor: pointer;
	color: #3FA9F5;
}

#header ul {

	position: relative;
    bottom: -70px; 
	float: right;
}

/*
	CONTENT
*/

#content {
	
	background-color: white;
	
	width: 920px;
	min-height: 400px;
	overflow: hidden;
	
	padding:20px;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 10px;
	
	text-align: justify;
}

#content-left {
	float:left;
	width:580px;
}

#content-right {

	width: 320px;
	height:10px;
	
	padding:10px;
	
	float:right;
}

/* HEADER */
#content h1 {

	font-size: 30px;
	font-style: italic;
	color: #3FA9F5;
}

/* TEXT */
#content p {
	
	line-height: 150%;
	font-style: italic;
	
	padding-top:10px;
	padding-bottom:5px;
}


/*
	FOOTER
*/

#footer {
	
	background-color: white;
	
	width: 920px;
	min-height: 10px;
	
	padding:20px;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 10px;
	
	text-align: center;
	color: grey;
}